.container--channels
  background-color #efede0
  padding: 0 1em
  .channel
    h1
      margin 0
      padding 0
    p
      cursor: pointer
      margin: 0
      padding: 1ex 0
      &:hover
        color: #793
