.contextmenu
  background-color #f3f3f3
  color #000
  border 1px solid #999
  min-width 100px
  min-height: 10px
  list-style none
  margin 0
  padding 0
  z-index: zIndexContextMenu
  .contextmenu--item
    &:hover
      background-color #666
      color #fff
    margin 0
    padding 4px


