.modalWindow
  display: none
  align-content: center
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  z-index zIndexModal
  position: absolute
  top: 0
  left: 0
  background-color: rgba(0,0,0,0.8)
  .modalWindow--content
    width: 60%
    height: 60%
    background-color: #fafbf8
    border-radius 4px
    padding: 1em
    overflow auto
  .postform
    position: static
