.container--sidebar
  height 100%
  background-color: #393939
  .sidebar
    display flex
    flex-direction: column
    height 100%
    text-align: center
    &__account
      margin: 0
      padding-bottom 1em
      flex: 0 1 auto
    &__account--current
      margin: 0
      padding-bottom 1em
      flex: 0 1 auto
      img
        box-shadow: -24px 0px 24px 0px rgba(255,255,255,0.5)
    img
      width: 32px
      height: 32px
      cursor: pointer
    &__plus
      flex: 1 1 auto
      position relative
      .el
        clickable()
        display: block
        height 48px
        width 48px
        position absolute
        bottom -12px
        left 0
        &:hover
          color #fff
