.tweet--common
  padding 1ex 0
  display table
  width 100%
  border-bottom 1px solid #f0f0f0
  img
    width 32px
    height 32px
  .tweet__protectedIcon
    font-size: 9px
    color: #666
  .tweet__userimage
    display table-cell
    width 36px
  .tweetBody
    display table-cell
    vertical-align top
    word-break: break-word
    p
      margin 0
      padding 0
    .tweetBody__timestamp
      float: right
      font-family: monospace
      color #998
      text-decoration: none
    .tweetBody__userName
      padding-left: 1ex
  .tweet__retweet
    img
      width: 16px
      height: 16px

.timeline
  overflow auto
  height 100%
  padding 0 1em
  .tweet--selected
    @extend .tweet--common
    background-color #e9e9e9
  .tweet
    @extend .tweet--common

