formHeight = 100px

.timeline
  height 100%
  padding 0 1em
  overflow auto
  position relative
  .postform
    height: formHeight
    background-color: baseBackgroundColor
    position fixed
    right 24px
    left layoutSidebarWidth + layoutChannelsWidth
    z-index zIndexPostform
    margin 0
    padding layoutPadding 1em 0 1em
    box-sizing border-box
    textarea
      width: 100%
      height: 3em
  &__tweets
    padding-top formHeight
    height 100%
    box-sizing: border-box
  &__tweets--loading
    @extend .timeline__tweets
    .el
      position: absolute
      top 50%
      left 50%
      color #c0c9c0
