baseBackgroundColor = #f8f7f1
layoutSidebarWidth = 48px
layoutChannelsWidth = 180px
layoutPadding = 16px
zIndexPostform = 2
zIndexModal = 5
zIndexContextMenu = 6

html,body
  padding: 0
  margin 0

body
  color #666
  font-size small
  background-color: baseBackgroundColor
  *
    letter-spacing: normal; // fix strange rendering

em
  font-style: normal

a
  color #9EBE77

clearfix()
  zoom: 1
  &:before, &:after
    content " "
    display table
  &:after
    clear both

subtle-link()
  color #998
  text-decoration: none

clickable()
  cursor: pointer
