layout-columns =
  flex: 0 1 auto
  align-self stretch
  box-sizing border-box

.container
  width: 100%
  display: flex
  align-content: stretch
  .container--sidebar
    min-width: layoutSidebarWidth
    padding-top: layoutPadding
    {layout-columns}
  .container--channels
    min-width: layoutChannelsWidth
    padding-top: layoutPadding
    {layout-columns}
    height: 100%
    overflow: auto
  .container--main
    {layout-columns}
    flex-grow: 1

.main
  height 100%
  display: flex
  flex-direction column
  .postform
    flex 0 1 auto
  .userHeader
    flex 0 1 auto
  .timeline
    flex 1 1 auto
