layout-columns =
  flex: 0 1 auto
  align-self stretch
  box-sizing border-box

.container
  width: 100%
  display: flex
  align-content: stretch
  .container--sidebar
    min-width: layoutSidebarWidth
    padding-top: layoutPadding
    {layout-columns}
  .container--channels
    min-width: layoutChannelsWidth
    padding-top: layoutPadding
    {layout-columns}
  .container--main
    {layout-columns}

