.container
  width: 100%
  display: flex
  .container--sidebar
    min-width: 48px
    flex: 0 1 auto
  .container--channels
    min-width: 180px
    flex: 0 1 auto
    h1
      margin 0
      padding 0
  .container--main
    flex: 0 1 auto

